* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
  background-color: black;
  width: 800px;
  margin: 0 auto;
}
.title,
.subtitle {
  color: whitesmoke;
  width: 100%;
  text-align: center;
}

.control {
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.main-form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn-wrapper {
  color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: black;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}
